body {
    background-color: #F5EFE8; 
    color: #567C8D;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
    background-color: #C8D9E6;
    position: relative;
}


/* Default Styles for Navigation */
.nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center; 
    align-items: center; 

}

.nav-menu a {
    text-decoration: none;
    color: #008080; /* Teal */
    font-size: 16px;
}

/* Hamburger icon: hidden on larger screens */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #008080;
    position: absolute;
    right: 20px;
    top: 15px;
    transform: translateY(0);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-menu {
        display: none; 
        flex-direction: column;
        background-color: #87CEEB; 
        padding: 10px;
        position: absolute;
        top: 60px;
        right: 10px;
        width: 200px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.show {
        display: flex; 
    }

    .hamburger {
        display: block; 
        color: #008080; 
    }
}


footer {
    background-color: #C8D9E6;
    color: #567C8D;
    text-align: center;
    padding: 1em 0;
}